daemon/server/package.json
daemon/server/package-lock.json
daemon/server/node_modules/
server/node_modules
node_modules/
server/*.*~
env/
server/**.js
python_api/__pycache__/
hwf
hwf.pub
portal2.zip
test.zip
schema/__pycache__/*
