daemon/server/package.json
daemon/server/package-lock.json
daemon/server/node_modules/
daemon/log.txt
server/node_modules/
frontend/node_modules/
database/node_modules
node_modules/
server/*.*~
env/
package-lock.json
server/**.js
server/dist/
python_api/__pycache__/
__pycache__/
hwf
hwf.pub
portal2.zip
test.zip
schema/__pycache__/*
daemon/log.txt