.home {
    width: 100vw;
    height: 88vh;
    
   
  }

.test {
  border: 2px 2px solid black;
  font-size: 55px;
  text-shadow: 2px 2px black;
}

.daemons{
  width:100%;
  display:inline-flex;
}

.tasks{
  width:100vw;
  display:inline-flex;
}